
<div class="dl-vertical">
   <h2>Reviews</h2>
   <br>
  <dt><strong>First Name: </strong></dt>
  <dd><%= review.user.first_name %></dd>
  <dt>Description:</dt>
  <dd><%= review.description %></dd>
  <dt>Rating:</dt>
  <dd><%= review.rating %></dd>
  <dt>Created_at:</dt>
  <dd><%= review.created_at %></dd>
  <% if current_user && current_user.id === review.user.id %>
  <button><%= link_to "Delete", [review.product, review],
                                  method: :delete,
                                  data: { confirm: "Are you sure?" } %></button>
  <% end %>

</div>